.highlight {
    outline: 3px solid red;
}

.refrac{
    position: fixed;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 10;
    background: aliceblue;
    padding: 10px;
    font-size: 30px;
    max-width: 900px;
    max-height: 750px;
    min-width: 400px;
    border-radius: 25px;
}
